<mat-list role="list">
    <div>
        <div class="profile">
            <h2>Nivedya Raveendran</h2>
            <h4>nivedyapattari12@gmail.com</h4>
        </div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKPzVWU5eNeCf53LQP9iHpnc5864EiZ8oKALRd8yCYS7IGKfb3xbhHkvIOuTQtlq2bJCA&usqp=CAU" alt="no image">
    </div>
    <mat-divider></mat-divider>
    <h2 mat-subheader>pages</h2>
    <a mat-list-item href="/">Dashboard</a>
    <a mat-list-item href="/post">Post</a>
    <a mat-list-item href="/">Article</a>
  <mat-divider></mat-divider>
  <h2 mat-subheader>tools</h2>
<a mat-list-item  href="/contacts">
    <mat-icon>import_contacts</mat-icon>&nbsp; contacts </a>

<a mat-list-item  href="/contacts">
    <mat-icon>contact_phone</mat-icon>&nbsp; Leads</a>
</mat-list>